.t-ease{
  transition: all 1s ease;
}

.hide{
  position: absolute;
  transform: translateY(-200%);
}

.hide_menu{
  position: absolute;
  transform: translateX(-200%);
}

.push_logo{
  transform: translate(120%);
}
